</main>

<!-- Footer -->
<section id="footer" class="navbar-color">
    <div class="container-fluid">
        <footer class="py-3 mt-4">
            <ul class="nav me-auto justify-content-center pb-3 mb-3">
                <li class="nav-item"><a href="https://www.instagram.com/_hlynchak/?igsh=MTZ6enAxejZxM3U1NA%3D%3D#" target="_blank" class="nav-link link-body-emphasis px-3">Instagram</a></li>
                <li class="nav-item"><a href="https://x.com/DHlynchak" target="_blank" class="nav-link link-body-emphasis px-3">Twitter</a></li>
                <li class="nav-item"><a href="https://www.facebook.com/wilson.kingston.754/?locale=uk_UA" target="_blank" class="nav-link link-body-emphasis px-3">Facebook</a></li>
            </ul>
            <p class="inc text-center">@Dmytro Hlynchak</p>
        </footer>
    </div>
</section>
</body>

</html>