<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/styles/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <title>Blog application</title>
</head>

<body>

<!-- Header -->
<section id="title" class="navbar-color">
    <nav class="container-fluid py-4">
        <div class="container d-flex flex-wrap">
            <ul class="nav me-auto mt-5">
                <li class="nav-item"><a href="/" class="nav-link custom-link link-body-emphasis px-3">Home</a></li>
                <li class="nav-item"><a href="/new-blog" class="nav-link custom-link link-body-emphasis px-3">New blog</a></li>
                <li class="nav-item"><a href="/blogs" class="nav-link custom-link link-body-emphasis px-3">Blogs</a></li>
                <li class="nav-item"><a href="#footer" class="nav-link custom-link link-body-emphasis px-3">Contact</a></li>
            </ul>
        </div>
    </nav>
</section>

<main>