.awful-style {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    font-size: 4rem;
    color: blue;
}

.nice-style {
    font-family: "Al Bayan", Helvetica, Arial, sans-serif;
    font-size: 6rem;
    color: purple;
}